<div class="container-fluid">
    <div class="block-header">
        <h2>USER DETAILS</h2>
        <div class="body">
            <ol class="breadcrumb">
                <li> <a ui-sref="client.dashboard"> <i class="material-icons">home</i> Home </a> </li>
                <li> <a ui-sref="client.users"> <i class="zmdi zmdi-account"></i>Users List</a></li>
                <li class="active"> <i class="material-icons">library_books</i>User Details</li>
            </ol>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Details</h2>
                </div>
                <div class="body">
                    <strong>Full Name</strong>
                    <p>{{user.vFullName}}</p>
                    <strong>Email ID</strong>
                    <p>{{user.vEmail}}</p>
                </div>
            </div>
        </div>
        <div ng-repeat="d in data" class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>List of Exam Attempt</h2>
                </div>
                <div class="body">
                    <strong>Title</strong>
                    <p>{{d.vTitle}}</p>
                    <strong>Description</strong>
                    <p>{{d.vDescription}}</p>
                    <div class="form-group">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <td>Attempt</td>
                                <td>Total Question</td>
                                <td>Round One Right Answer</td>
                                <td>Round One Wrong Answer</td>
                                <td>Round Two Right Answer</td>
                                <td>Round Two Wrong Answer</td>
                                <td>Date</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="e in d.ExamAttempt track by $index">
                                <td>{{$index + 1}}</td>
                                <td>{{e.ROneTotalQuestion + e.RTwoTotalQuestion}}</td>
                                <td>{{e.ROneRightAnswer}}</td>
                                <td>{{e.ROneWrongAnswers}}</td>
                                <td>{{e.RTwoRightAnswers}}</td>
                                <td>{{e.RTwoWrongAnswers}}</td>
                                <td>{{e.ExamDate | date:"MM/dd/yyyy"}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>