<div class="container-fluid">
    <div class="block-header">
        <h2>USER DETAILS</h2>
        <div class="body">
            <ol class="breadcrumb">
                <li> <a ui-sref="client.dashboard"> <i class="material-icons">home</i> Home </a> </li>
                <li> <a ui-sref="client.users"> <i class="zmdi zmdi-account"></i>User List</a></li>
                <li class="active"> <i class="material-icons">library_books</i>User {{form_action}}</li>
            </ol>
        </div>
    </div>
    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>CUSTOMER {{form_action}}</h2>
                    <!--<ul class="header-dropdown m-r&#45;&#45;5">-->
                        <!--<li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="material-icons">more_vert</i> </a>-->
                            <!--<ul class="dropdown-menu pull-right">-->
                                <!--<li><a href="javascript:void(0);">Action</a></li>-->
                                <!--<li><a href="javascript:void(0);">Another action</a></li>-->
                                <!--<li><a href="javascript:void(0);">Something else here</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
                <div class="body">
                    <form name="form_user" id="form_user" novalidate ng-submit="submitUser()">
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" placeholder="Full Name" value="" class="form-control" name="vFullName" id="vFullName" required ng-model="user.vFullName">
                            </div>
                            <div ng-messages="form_user.vFullName.$error && form_user.vFullName.$dirty" ng-show="form_user.vFullName.$error && form_user.vFullName.$dirty" role="alert" class="text-danger">
                                <div ng-message="required" ng-show="form_user.vFullName.$error.required">Full name is required</div>
                            </div>
                            <!--<div class="help-info">Enter Full Name</div>-->
                        </div>
                        <div class="form-group form-float">

                            <div class="form-line" >
                                <input  type="email" placeholder="Email" value="" class="form-control" name="vEmail" id="vEmail" ng-readonly="{{form_action == 'Edit' ? true : false}}" required ng-model="user.vEmail">
                            </div>
                            <div ng-messages="form_user.vEmail.$error && form_user.vEmail.$dirty" ng-show="form_user.vEmail.$error && form_user.vEmail.$dirty" role="alert" class="text-danger">
                                <div ng-message="required" ng-show="form_user.vEmail.$dirty && form_user.vEmail.$error.required">Email is required.</div>
                                <div ng-show="form_user.vEmail.$dirty && form_user.vEmail.$error.email">Enter valid email address.</div>
                            </div>
                            <!--<div class="help-info">Enter Valid Email Address Like : john@gmail.com</div>-->
                        </div>

                        <div class="form-group">
                            <button type="submit" style="color: #ffffff;" class="btn btn-raised btn-sm btn-primary waves-effect" data-ng-disabled="form_user.$invalid"><i class="fa fa-check"></i> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Basic Validation -->
</div>