<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#dashboard.html">Dashboard</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Exam Details
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- User datatables -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-line-chart font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Round One Details</span>
                    <span class="caption-helper">Users list...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered" datatable="ng">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Total Attempt</th>
                            <th>Right Answer</th>
                            <th>Wrong Answer</th>
                            <!--<th>View Details</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in RoundOne">
                            <td>{{ user.vFullName }}</td>
                            <td>{{ user.iTotalQuestion }}</td>
                            <td>{{ user.iRightAnswers }}</td>
                            <td>{{ user.iWrongAnswers }}</td>
                            <!--<td><button ng-click="viewDetails(user.iParticipantId,user.iUserId)" title="View" class="btn btn-success btn-xs">View</button></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-line-chart font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Round One Statiscs</span>
                    <span class="caption-helper">Users marks...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div id="roundOne" style="height: 400px"></div>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-line-chart font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Round Two Details</span>
                    <span class="caption-helper">Users list...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered" datatable="ng">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Total Attempt</th>
                            <th>Right Answer</th>
                            <th>Wrong Answer</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in RoundTwo">
                            <td>{{ user.vFullName }}</td>
                            <td>{{ user.iTotalQuestion }}</td>
                            <td>{{ user.iRightAnswers }}</td>
                            <td>{{ user.iWrongAnswers }}</td>
                            <td><button ng-click="viewDetails(user.iParticipantId,user.iUserId)" title="View" class="btn btn-success btn-xs">View</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-line-chart font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Round Two Statiscs</span>
                    <span class="caption-helper">Users marks...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div id="roundTwo" style="height: 400px"></div>
                </div>
            </div>


        </div>
    </div>
</div>