<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="javascript:;" ui-sref="admin.dashboard">Dashboard</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        <a href="javascript:;" ui-sref="admin.client">Users List</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Cleint Profile
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN PAGE CONTENT-->

<div class="row">
    <div class="col-md-12">
        <!-- END BEGIN PROFILE SIDEBAR -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Personal Info</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="form-group">
                                <label class="control-label col-xs-3">Full Name</label>
                                <div class="col-xs-9 left-border">
                                    <label class="control-label col-xs-12">{{profile.ParentName}}</label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">User Name</label>
                                <div class="col-xs-9 left-border">
                                    <label class="control-label col-xs-12">{{profile.ParentUserName}}</label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label col-xs-3">Email</label>
                                <div class="col-xs-9 left-border">
                                    <label class="control-label col-xs-12">{{profile.ParentEmail}}</label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="child.length > 0 ? true: false">
    <div class="col-md-12">
        <!-- END BEGIN PROFILE SIDEBAR -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">User List</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="form-group">
                                <label class="control-label col-xs-4">Full Name</label>
                                <div class="col-xs-4 left-border">
                                    <label class="control-label">User Name</label>
                                </div>
                                <div class="col-xs-4 left-border">
                                    <label class="control-label">Email</label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <div ng-repeat="value in child track by $index">

                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">{{value.ChildName}}</label>
                                    <div class="col-xs-4 left-border">
                                        <label class="control-label">{{value.ChildUserName}}</label>
                                    </div>
                                    <div class="col-xs-4 left-border">
                                        <label class="control-label">{{value.ChildEmail}}</label>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="child.length > 0 ? false: true">
    <div class="col-md-12">
        <!-- END BEGIN PROFILE SIDEBAR -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">User List</span>
                            </div>
                        </div>
                        <div class="portlet-body">

                            <div class="form-group">

                                <div class="col-xs-12 text-center">
                                    <label class="control-label text-center">Data Not Found</label>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE CONTENT-->