<div class="container-fluid">
    <div class="block-header">
        <h2>QUESTION DETAILS</h2>
        <div class="body">
            <ol class="breadcrumb">
                <li> <a ui-sref="admin.dashboard"> <i class="material-icons">home</i> Home </a> </li>
                <li> <a ui-sref="admin.question"> <i class="zmdi zmdi-graduation-cap"></i> Question List </a> </li>
                <li class="active"> <i class="material-icons">library_books</i>Question {{form_action}}</li>
            </ol>
        </div>
    </div>
    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>QUESTION {{form_action}}</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="material-icons">more_vert</i> </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <form name="form_question" id="form_question" novalidate ng-submit="submitQuestion()">

                        <div class="form-group" ng-class="(form_action == 'Edit') ? 'hide':''">
                            <div class="form-line">
                                <p>Select Question Type</p>
                                <select name="eType" id="eType" class="form-control" ng-model="question.eType" required>
                                    <option value="">Select Questioin Type</option>
                                    <option value="MCQ">MCQ</option>
                                    <option value="VSQ">VSQ</option>
                                </select>
                            </div>
                            <div ng-messages="form_question.eType.$error && form_question.eType.$dirty" ng-show="form_question.eType.$error && form_question.eType.$dirty" role="alert" class="text-danger">
                                <div ng-message="required" ng-show="form_question.eType.$error.required">Question Type required</div>
                            </div>
                        </div>

                        <div class="form-group">
                                <div class="form-line">
                                    <p>Select Difficulty level</p>
                                    <select name="eType" id="eMode" class="form-control" ng-model="question.vModeName" required>
                                        <option value="">Select Difficulty level</option>
                                        <option value="Easy">Easy</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Difficult">Difficult</option>
                                        <option value="Expert">Expert</option>
                                        <option value="Custom">Custom</option>
                                    </select>
                                </div>
                                <div ng-messages="form_question.eMode.$error && form_question.eMode.$dirty" ng-show="form_question.eMode.$error && form_question.eMode.$dirty" role="alert" class="text-danger">
                                    <div ng-message="required" ng-show="form_question.eMode.$error.required">Difficult level is required</div>
                                </div>
                        </div>

                        <div class="form-group">

                            <div class="form-line">
                                <input type="text" value="" class="form-control" name="vQuestion" id="vQuestion"  placeholder="Please Enter Question" ng-model="question.vQuestion" required>
                            </div>

                            <div ng-messages="form_question.vQuestion.$error && form_question.vQuestion.$dirty" ng-show="form_question.vQuestion.$error && form_question.vQuestion.$dirty" role="alert" class="text-danger">
                                <div ng-message="required" ng-show="form_question.vQuestion.$error.required">Question is required</div>
                            </div>
                        </div>

                        <!-- Options -->
                        <div class="form-group" ng-class="(question.eType == 'VSQ' || question.eType == null)? 'hide' : ''">

                            <div class="form-line">
                                <input type="text" value="" class="form-control" name="vOptionOne" id="vOptionOne" placeholder="Option A"  ng-model="question.vOptionOne.vAnswer" ng-required="(question.eType == 'VSQ' || question.eType == null)? false : true" ng-class="(question.eType == 'VSQ' || question.eType == null)? 'hide' : ''">
                            </div>
                            <div ng-messages="form_question.vOptionOne.$error && form_question.vOptionOne.$dirty" ng-show="form_question.vOptionOne.$error && form_question.vOptionOne.$dirty" role="alert" class="text-danger">
                                <div ng-message="required" ng-show="form_question.vOptionOne.$error.required">Option A is required</div>
                            </div>

                        </div>

                        <div class="form-group" ng-class="(question.eType == 'VSQ' || question.eType == null)? 'hide' : ''">

                            <div class="form-line">
                                <input type="text" value="" class="form-control" name="vOptionTwo" placeholder="Option B" id="vOptionTwo" required ng-model="question.vOptionTwo.vAnswer" ng-required="(question.eType == 'VSQ' || question.eType == null)? false : true" ng-class="(question.eType == 'VSQ' || question.eType == null)? 'hide' : ''">
                            </div>
                            <div ng-messages="form_question.vOptionTwo.$error && form_question.vOptionTwo.$dirty" ng-show="form_question.vOptionTwo.$error && form_question.vOptionTwo.$dirty" role="alert" class="text-danger">
                                <div ng-message="required" ng-show="form_question.vOptionTwo.$error.required">Option B is required</div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="(question.eType == 'VSQ' || question.eType == null)? 'hide' : ''">
                            <div class="form-line">
                                <input type="text" value="" class="form-control" name="vOptionThree" id="vOptionThree" placeholder="Option C" required ng-model="question.vOptionThree.vAnswer" ng-required="(question.eType == 'VSQ' || question.eType == null)? false : true" ng-class="(question.eType == 'VSQ' || question.eType == null)? 'hide' : ''">
                            </div>
                            <div ng-messages="form_question.vOptionThree.$error && form_question.vOptionThree.$dirty" ng-show="form_question.vOptionThree.$error && form_question.vOptionThree.$dirty" role="alert" class="text-danger">
                                <div ng-message="required" ng-show="form_question.vOptionThree.$error.required">Option C is required</div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="(question.eType == 'VSQ' || question.eType == null)? 'hide' : ''">
                            <div class="form-line">
                                <input type="text" value="" class="form-control" name="vOptionFour" id="vOptionFour" placeholder="Option D" required ng-model="question.vOptionFour.vAnswer" ng-required="(question.eType == 'VSQ' || question.eType == null)? false : true" ng-class="(question.eType == 'VSQ' || question.eType == null)? 'hide' : ''">
                            </div>
                            <div ng-messages="form_question.vOptionFour.$error && form_question.vOptionFour.$dirty" ng-show="form_question.vOptionFour.$error && form_question.vOptionFour.$dirty" role="alert" class="text-danger">
                                <div ng-message="required" ng-show="form_question.vOptionFour.$error.required">Option D is required</div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="(question.eType == 'VSQ' || question.eType == null)? 'hide' : ''">
                            <div class="form-line">
                                <select name="vOptionAns" id="vOptionAns" class="form-control" ng-model="question.vOptionAns" ng-required="(question.eType == 'VSQ' || question.eType == null)? false : true" ng-class="(question.eType == 'VSQ' || question.eType == null)? 'hide' : ''">
                                    <option value="">Select Answer Above</option>
                                    <option value="0">A</option>
                                    <option value="1">B</option>
                                    <option value="2">C</option>
                                    <option value="3">D</option>
                                </select>
                            </div>
                            <div ng-messages="form_question.vOptionAns.$error && form_question.vOptionAns.$dirty" ng-show="form_question.vOptionAns.$error && form_question.vOptionAns.$dirty" role="alert" class="text-danger">
                                <div ng-message="required" ng-show="form_question.vOptionAns.$error.required">Answer is required.</div>
                            </div>
                        </div>

                        <!-- ANS -->
                        <div class="form-group" ng-class="(question.eType == 'MCQ' || question.eType == null)? 'hide' : ''">
                            <div class="form-line">
                                <input type="text" value="" class="form-control" name="vAnsVsq" placeholder="Please Enter Ans" id="vAnsVsq" required ng-model="question.vAnsVsq.vAnswer" ng-required="(question.eType == 'MCQ' || question.eType == null)? false : true" ng-class="(question.eType == 'MCQ' || question.eType == null)? 'hide' : ''">
                            </div>
                            <div ng-messages="form_question.vAnsVsq.$error && form_question.vAnsVsq.$dirty" ng-show="form_question.vAnsVsq.$error && form_question.vAnsVsq.$dirty" role="alert" class="text-danger">
                                <div ng-message="required" ng-show="form_question.vAnsVsq.$error.required">Answer is required</div>
                            </div>
                        </div>

                        <button type="submit" style="color: #ffffff;" class="btn btn-raised btn-sm btn-primary waves-effect" data-ng-disabled="form_question.$invalid"><i class="fa fa-check"></i> Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Basic Validation -->
</div>