<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#dashboard.html">Dashboard</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Manage Cleint
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- User datatables -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="actions">
                    <a href="javascript:;" ui-sref="admin.clientform({action:'Add'})" title="Add User" class="btn btn-circle btn-default btnEdit">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480">Add Cleint</span>
                    </a>
                </div>
            </div>

            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstanceUser" dt-column-defs="dtColumnDefs">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


