<div class="container-fluid" cache-view="false">
    <div class="block-header" style="margin-bottom: -35px;">
        <h2>Customer</h2>
        <div class="body">
            <ol class="breadcrumb">
                <li> <a ui-sref="admin.dashboard"> <i class="material-icons">home</i> Home </a> </li>
                <li class="active"> <i class="material-icons">library_books</i> List of Customer</li>
            </ol>
        </div>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">

    </div>
    <div class="row clearfix">
        <div class="col-xs-12 text-right">
            <a href="" class="btn btn-raised btn-sm btn-primary waves-effect" ui-sref="admin.formcustomer({action:'Add'})">Add Customer</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" infinite-scroll-distance='2' infinite-scroll-disabled="disable" infinite-scroll='loadMore()'>
            <div class="col-md-6 col-sm-12 col-xs-12" ng-repeat="u in users track by $index">
                <div class="card">
                    <div class="body">
                        <div class="member-card verified">
                            <!--<ul class="header-dropdown">-->
                                <!--<li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="zmdi zmdi-more-vert"></i></a>-->
                                    <!--<ul class="dropdown-menu pull-right">-->
                                        <!--<li><a href="javascript:void(0);" class=" waves-effect waves-block">Edit</a></li>-->
                                        <!--<li><a href="javascript:void(0);" class=" waves-effect waves-block">Delete</a></li>-->
                                        <!--<li><a href="javascript:void(0);" class=" waves-effect waves-block">Block</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="thumb-xl member-thumb">
                                    <!--<img src="assets/images/random-avatar3.jpg" class="img-circle" alt="profile-image">-->
                                    <img src="assets/images/default-avatar.png" height="120px" width="120px" class="img-circle" alt="profile-image">
                                    <i class="zmdi zmdi-info" title="Permanent"></i>
                                </div>
                                <!--<ul class="social-links list-inline m-t-10">-->
                                    <!--<li><a title="facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>-->
                                    <!--<li><a title="twitter" href="#" ><i class="zmdi zmdi-twitter"></i></a></li>-->
                                    <!--<li><a title="instagram" href="3" ><i class="zmdi zmdi-instagram"></i></a></li>-->
                                <!--</ul>-->
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="s-profile">
                                    <h4 class="m-b-5">{{u.vFullName |  limitTo:26}}<span ng-if="u.vFullName.length > 26 ? true :false">...</span></h4>
                                    <p class="text-muted"><span> <a href="#" class="text-pink">{{u.vEmail}}</a> </span></p>
                                    <p class="text-muted"><span> User Type : {{u.vParentType}} </span></p>
                                    <!--<p class="text-muted">795 Folsom Ave, Suite 600 San Francisco, CADGE 94107</p>-->
                                    <a href="javascript:;" ng-click="userOperation(u.iUserId,'view')"class="btn btn-raised btn-xs bg-light-blue waves-effect">View</a>
                                    <a href="javascript:;" ng-click="userOperation(u.iUserId,'edit')"class="btn btn-raised btn-xs bg-orange waves-effect">Edit</a>
                                    <a href="javascript:;" ng-click="userOperation(u.iUserId,'delete')"class="btn btn-raised btn-xs bg-red waves-effect" data-type="confirm">Delete</a>
                                    <div class="switch">
                                        <label>
                                            Status
                                            <input type="checkbox" ng-model="u.eStatus" ng-true-value="'y'" ng-false-value="'n'" ng-change="onUserStatusChange(u.iUserId,u.eStatus)">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
