<!-- BEGIN PAGE BREADCRUMB -->
<style>
    <style>
    .inn {
        background: #3b3f51 !important
    }

    .circle {
        position: absolute;
        -moz-animation: spinPulse 1.8s infinite ease-in-out;
        -webkit-animation: spinPulse 1.8s infinite linear;
    }

    .circle1 {
        position: absolute;
        -moz-animation: spinoffPulse 1.8s infinite linear;
        -webkit-animation: spinoffPulse 1.8s infinite linear;
    }

    .circle2 {
        position: absolute;
        -moz-animation: spinPulse 1.8s infinite ease-in-out;
        -webkit-animation: spinPulse 1.8s infinite linear;
    }

    @-moz-keyframes spinPulse {
        0% {
            -moz-transform: rotate(160deg);
            opacity: 0;
        }

        50% {
            -moz-transform: rotate(145deg);
            opacity: 1;
        }

        100% {
            -moz-transform: rotate(-320deg);
            opacity: 0;
        };
    }

    @-moz-keyframes spinoffPulse {
        0% {
            -moz-transform: rotate(0deg);
        }

        100% {
            -moz-transform: rotate(360deg);
        };
    }

    @-webkit-keyframes spinPulse {
        0% {
            -webkit-transform: rotate(160deg);
            opacity: 0;

        }

        50% {
            -webkit-transform: rotate(145deg);
            opacity: 1;
        }

        100% {
            -webkit-transform: rotate(-320deg);
            opacity: 0;
        };
    }

    @-webkit-keyframes spinoffPulse {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        };
    }

</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#dashboard.html">Dashboard</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Manage Questions
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- User datatables -->
<div style="position: relative;margin-left: 25%" ng-show="showLoading">
    <h1>Watting for some moments...</h1>
    <div style="margin-left: 8%;">
        <img class="circle" src="../../assets/admin/layout/img/pemdas_waiting_screen_1-01.png">
        <img class="circle1" src="../../assets/admin/layout/img/pemdas_waiting_screen_1-02.png">
        <img class="circle2" src="../../assets/admin/layout/img/pemdas_waiting_screen_1-03.png">
    </div>
</div>

<div class="row" ng-hide="showLoading">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                        <div class="clock" ng-hide="clock" style="margin-left: 40%"></div>
                        <button ng-show="clock" style="margin: 0px auto !important; display: block;" class="btn green" ng-click="startGame()">Start Game</button>
                        <p></p>
            </div>
            <div class="portlet-body">
                <div class="table-container" ng-if="showTable">
                    <table class="table table-striped table-bordered" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstanceQuestion">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>