<!-- BEGIN PAGE BREADCRUMB -->
<style>
    .inn {
        background: #3b3f51 !important
        color:pint!s
    }
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#dashboard.html">Dashboard</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Manage Questions
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- User datatables -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div style="display: table; margin: 0px auto;">
                        <div class="clock" ></div>
                            <button style="margin: 0px auto !important; display: block;" class="btn green" ng-click="startGame()">Start Game</button>
                            <p></p>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container" ng-if="showTable">
                    <table class="table table-striped table-bordered" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstanceQuestion">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>