<div class="container-fluid">
    <div class="block-header">
        <h2>QUESTION DETAILS</h2>
        <div class="body">
            <ol class="breadcrumb">
                <li> <a ui-sref="admin.dashboard"> <i class="material-icons">home</i> Home </a> </li>
                <li> <a ui-sref="admin.question"> <i class="zmdi zmdi-graduation-cap"></i> Question List </a> </li>
                <li class="active"> <i class="material-icons">library_books</i>Question Details</li>
            </ol>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Question</h2>
                </div>
                <div class="body">
                    <div class="form-group">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td>
                                    Question
                                </td>
                                <td>
                                    {{question[0].vQuestion}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Type
                                </td>
                                <td>
                                    {{question[0].eType}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Difficult level
                                </td>
                                <td>
                                    {{question[0].vModeName}}
                                </td>
                            </tr>
                            <tr>
                                <td ng-hide="(question[0].eType == 'VSQ') ? true : false">
                                    Option:
                                </td>
                                <td ng-hide="(question[0].eType == 'VSQ') ? false : true">
                                    Answer:
                                </td>
                                <td>
                                    <div id="pulsate-regular" style="padding:5px;">
                                        {{question[0].vAnswer}}  &nbsp; &nbsp; <span ng-hide="(question[0].eType == 'VSQ') ? true : false" class="label label-info">Answer</span>
                                    </div>

                                </td>
                            </tr>
                            <tr ng-hide="(question[0].eType == 'VSQ') ? true : false">
                                <td>
                                    Option:
                                </td>
                                <td>
                                    {{question[1].vAnswer}}
                                </td>
                            </tr>
                            <tr ng-hide="(question[0].eType == 'VSQ') ? true : false">
                                <td>
                                    Option:
                                </td>
                                <td>
                                    {{question[2].vAnswer}}
                                </td>
                            </tr>
                            <tr ng-hide="(question[0].eType == 'VSQ') ? true : false">
                                <td>
                                    Option:
                                </td>
                                <td>
                                    {{question[3].vAnswer}}
                                </td>
                            </tr>
                            <!--<tr>-->
                                <!--<td>-->
                                    <!--Last Activity-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--{{question[0].dUpdatedDate}}-->
                                <!--</td>-->
                            <!--</tr>-->
                            <tr>
                                <td>
                                    Status
                                </td>
                                <td>
                                    <span class="label" ng-class="(question[0].eStatus == 'y') ? 'label-success' : 'label-warning'">{{(question[0].eStatus == 'y') ? "Active":"In Active"}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>