<div class="container">
  <div class="card-top"></div>
  <div class="card">
    <h1 class="title">SYSTEMIC21<span>Login</span> <div class="msg">Sign in to start your session</div></h1>
    <div class="col-md-12">
      <form class="login-form" name="form_login" ng-submit="doLogin(form_login)">

        <div class="input-group"> <span class="input-group-addon"> <i class="zmdi zmdi-account"></i> </span>
          <div class="form-line">
            <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="vEmail" data-ng-model="user.vEmail"  required />
            <span ng-show="form_login.vEmail.$dirty && form_login.vEmail.$error.required" class="help-block text-danger">Email is required</span>
            <span ng-show="form_login.vEmail.$dirty && form_login.vEmail.$error.email" class="help-block text-danger">Please enter valid email</span>
          </div>
        </div>
        <div class="input-group"> <span class="input-group-addon"> <i class="zmdi zmdi-lock"></i> </span>
          <div class="form-line">
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="vPassword" ng-model="user.vPassword" required />
            <span ng-show="form_login.vPassword.$dirty && form_login.vPassword.$error.required" class="help-block text-danger">Password is required</span>
          </div>
        </div>
        <div>
          <!-- <div class="">
              <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
              <label for="rememberme">Remember Me</label>
          </div> -->
          <div class="text-center">
            <button type="submit" style="color: #ffffff;" class="btn btn-success uppercase" data-ng-disabled="form_login.$invalid">Login</button>
            <button type="button" class="btn btn-raised waves-effect" type="submit" ui-sref="signup">SIGN UP</button>
            <!--<a href="sign-up.html" class="btn btn-raised waves-effect" type="submit">SIGN UP</a>-->
          </div>
          <div class="text-center"> <a ui-sref="fpass">Forgot Password?</a></div>
        </div>
      </form>
    </div>
  </div>
</div>