<div class="page-sidebar navbar-collapse collapse">
	<!-- BEGIN SIDEBAR MENU -->
	<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
	<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
	<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
	<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->

	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">	
		<li class="start">
			<a href="#/dashboard.html">
			<i class="icon-home"></i>
			<span class="title">Dashboard</span>
			</a>
		</li>
		<li>
			<a href="javascript:;">
			<i class="icon-settings"></i>
			<span class="title">General Settings</span>
			<span class="arrow "></span>
			</a>
			<ul class="sub-menu">
				<li>
					<a href="#/site_settings.html">
					<i class="icon-puzzle"></i> Site Settings</span>
					</a>
				</li>
				<li>
					<a href="#/change_password.html">
					<i class="icon-paper-clip"></i> Change Password</span>
					</a>
				</li>				
			</ul>
		</li>
		<li>
			<a href="#/users.html">
			<i class="icon-users"></i>
			<span class="title">Manage Users</span>
			</a>
		</li>
		<li>
			<a href="" ng-click="logout()">
			<i class="icon-settings"></i>
			<span class="title">Logout</span>
			</a>
		</li>		
	</ul>
	<!-- END SIDEBAR MENU -->
</div>	